{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% for post in post_list %}
        <div class="post col-xl-6">
            <div class="post-thumbnail"><a href="post.html"><img src="{% static 'blog/img/blog-post-1.jpeg' %}" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
                <div class="post-meta d-flex justify-content-between">
                    <div class="date meta-last">{{ post.created_time }}</div>
                    <div class="category"><a href="#">{{ post.category.name }}</a></div>
                </div>
                <a href="post.html">
                    <h3 class="h4">{{ post.title }}</h3></a>
                <p class="text-muted">
                    {{ post.excerpt }}
                </p>
                <footer class="post-footer d-flex align-items-center">
                    <a href="post.html" class="author d-flex align-items-center flex-wrap">
                         <div class="title"><span>{{ post.author }}</span></div>
                    </a>
                    <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                    <div class="comments meta-last"><i class="icon-comment"></i>12</div>
                </footer>
            </div>
        </div>
    {% empty %}
        <div class="no-post">暂时还没有发布的文章！</div>
    {% endfor %}

    <!-- 简单分页效果
    <div class="pagination-simple">
        <a href="#">上一页</a>
        <span class="current">第 6 页 / 共 11 页</span>
        <a href="#">下一页</a>
    </div>
    -->
{% endblock main %}
